/2-front-end-networking/1-fetch-api-lab/app/node_modules
/2-front-end-networking/1-fetch-api-lab/solution/node_modules
/4-progresive-web-apps/1-service-worker-lab/app/node_modules
/4-progresive-web-apps/1-service-worker-lab/solution/node_modules 
